.chart-bar{
    width: 15px;
    
    height: 70%;
    background: #BBABF2;
    border: 2px solid black;
    border-radius:5px ;
    margin-top: 10px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.chart-bar__container{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.month{
        transform: rotate(-22deg);
}
.chart-bar__inner{
    height: 100%;
  width: 100%;
  border: 1px solid #313131;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}