.expense-date{
    border: 1px solid whitesmoke;
    border-radius: 12px;
    width: 70px;
    height: 70px;
    color: whitesmoke;
    background: #262526;
    min-width:fit-content;
}
.el{
    padding: 2px;
}