.new-exponse{    
    /* margin: 10px auto;
    display: flex;
    position: relative;
    /* flex-wrap: wrap; */
    background-color: #9E86EC;
    /* justify-content: space-evenly; */
    gap: 1rem;
    width: 471px;
        padding: 2px;
    border-radius: 10px;
    height: 150px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;

}
.new-exponse div{
    padding: 2px;
}
label{
    display: flex;
    font-weight: bolder;
}
input ,button{
    width: 190px;
    height: 22px;
    border-radius: 5px;
    border: 0px solid;
}
button{
    margin-top: 43px !important;
    background: #380054;
    color: whitesmoke;
    width: 187px;
}